local/LICENSE
local/LICENSE_openpgp
local/static
local/templates
local/.venv
local/__pycache__
local/Frogtab_backup.json
snapcraft
frogtab_*.zip
frogtab_*.snap
server/public/*
!server/public/open
!server/public/*.php
server/packages/*
!server/packages/composer.json