local/LICENSE
local/LICENSE_openpgp
local/Frogtab_backup.json
local/.venv
local/internal/static
local/internal/templates
local/internal/__pycache__
snapcraft
frogtab_*.zip
frogtab_*.snap
server/public/*
!server/public/open
!server/public/*.php
server/packages/*
!server/packages/composer.json