/* Default to light theme */
:root {
  color-scheme: light;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}
.checklist li {
  /* Use --text = #212121 for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
.checklist.editing li {
  /* Use --text-light = #585858 for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23585858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
.checklist.editing.selectable li.inner-hover,
.checklist.editing.selectable li:focus-within {
  /* Use --text = #212121 for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Back arrow icon" width="22px" height="22px" viewBox="0 -3 24 21" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 8C8.5 8 11 8 15 8C15 8 15 8 15 8C15 8 20 8 20 12.7059C20 18 15 18 15 18C11.5714 18 9.71429 18 6.28571 18" stroke="%23212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.5 11.5C6.13317 10.1332 5.36683 9.36683 4 8C5.36683 6.63317 6.13317 5.86683 7.5 4.5" stroke="%23212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
/* Dark theme case 1: System is dark and Frogtab is set to match system */
@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
  :root[data-theme="system"] .checklist li {
    /* Use --text = #dcdcdc for the stroke color */
    list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  }
  :root[data-theme="system"] .checklist.editing li {
    /* Use --text-light = #ababab for the stroke color */
    list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23ababab" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  }
  :root[data-theme="system"] .checklist.editing.selectable li.inner-hover,
  :root[data-theme="system"] .checklist.editing.selectable li:focus-within {
    /* Use --text = #dcdcdc for the stroke color */
    list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Back arrow icon" width="22px" height="22px" viewBox="0 -3 24 21" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 8C8.5 8 11 8 15 8C15 8 15 8 15 8C15 8 20 8 20 12.7059C20 18 15 18 15 18C11.5714 18 9.71429 18 6.28571 18" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.5 11.5C6.13317 10.1332 5.36683 9.36683 4 8C5.36683 6.63317 6.13317 5.86683 7.5 4.5" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  }
}
/* Dark theme case 2: Frogtab is set to dark */
:root[data-theme="dark"] {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}
:root[data-theme="dark"] .checklist li {
  /* Use --text = #dcdcdc for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
:root[data-theme="dark"] .checklist.editing li {
  /* Use --text-light = #ababab for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Check icon" width="22px" height="22px" stroke-width="1.5" viewBox="0 -3 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 13L9 17L19 7" stroke="%23ababab" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
:root[data-theme="dark"] .checklist.editing.selectable li.inner-hover,
:root[data-theme="dark"] .checklist.editing.selectable li:focus-within {
  /* Use --text = #dcdcdc for the stroke color */
  list-style-image: url('data:image/svg+xml;utf8,<svg role="img" aria-label="Back arrow icon" width="22px" height="22px" viewBox="0 -3 24 21" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 8C8.5 8 11 8 15 8C15 8 15 8 15 8C15 8 20 8 20 12.7059C20 18 15 18 15 18C11.5714 18 9.71429 18 6.28571 18" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.5 11.5C6.13317 10.1332 5.36683 9.36683 4 8C5.36683 6.63317 6.13317 5.86683 7.5 4.5" stroke="%23dcdcdc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}
/* Control which parts of the registration flow are shown */
:root[data-registration="short"] .long-registration-only {
  display: none;
}
:root[data-registration="long"] .short-registration-only {
  display: none;
}
/* Control which parts about adding tasks and exporting data are shown */
:root[data-save="none"] .browser-save-only {
  display: none;
}
:root[data-save="service"] .browser-save-only {
  display: none;
}
:root[data-save="service"] .not-service-save {
  display: none;
}
:root[data-save="none"] .service-save-only {
  display: none;
}
:root[data-save="browser"] .service-save-only {
  display: none;
}
/* Override/define other styles  */
.compact {
  margin-top: 0.5rem;
}
p.before-compact {
  margin-bottom: 0;
}
article {
  padding-top: 0;
  padding-bottom: 0;
}
label {
  display: inline-block;
  margin-right: 0.5rem;
}
button {
  padding: 0.5rem 0.9rem !important;
}
.conditional,
.notice > div {
  display: none;
}
.conditional.display,
.notice > div.display {
  display: block;
}
.notice {
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.notice.display {
  display: block;
}
.notice > div > p,
.notice > div > ol,
.notice > div > div > input,
.notice > div > div > select,
.notice > div > div > button,
.notice > div > div > a.button {
  margin: 0.5rem 0;
}
.notice > div > div > label {
  margin: 0.5rem 0.5rem 0.5rem 0;
}
svg {
  vertical-align: text-top;
}
table {
  width: 100%;
}
td {
  vertical-align: top;
}
td > p {
  margin: 0;
}
td > p + p {
  margin-top: 0.5rem;
}
.shortcut {
  display: none;
}
.shortcut.display {
  display: inline;
}
.actions {
  text-align: right;
}
.actions > a {
  display: none;
  margin-left: 0.5rem;
}
.actions > a.display {
  display: inline;
}
.checklist ul {
  list-style-type: none;
}
.checklist.editing li {
  color: var(--text-light);
}
.checklist.editing.selectable li.inner-hover,
.checklist.editing.selectable li:focus-within {
  color: var(--text);
  cursor: pointer;
}
iframe {
  max-width: 480px;
  width: 100%;
  height: 250px;
  border: 0;
  border-radius: var(--standard-border-radius);
}
pre {
  border: 0 none;
}
footer a {
  color: var(--text-light) !important;
}