/* Default to light theme */
:root {
  color-scheme: light;
  --body-background: #f3f3f3;
  --body-text: #181818;
  --secondary-text: #6c6c6c;
  --control-border: #c0c0c0;
  --control-background: #fff;
  --menu-spacer: #e0e0e0;
  --subtle-region: #e0e0e0;
  --notification: #ed2024;
  --highlight: #79c152;
  --highlight-dimmed: #64a83c;
  --text-on-highlight: #fff;
}
/* Dark theme case 1: System is dark and Frogtab is set to match system */
@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    color-scheme: dark;
    --body-background: #0c0c0c;
    --body-text: #e2e2e2;
    --secondary-text: #a4a4a4;
    --control-border: #5a5a5a;
    --control-background: #1b1b1b;
    --menu-spacer: #3a3a3a;
    --subtle-region: #2c2c2c;
  }
}
/* Dark theme case 2: Frogtab is set to dark */
:root[data-theme="dark"] {
  color-scheme: dark;
  --body-background: #0c0c0c;
  --body-text: #e2e2e2;
  --secondary-text: #a4a4a4;
  --control-border: #5a5a5a;
  --control-background: #1b1b1b;
  --menu-spacer: #3a3a3a;
  --subtle-region: #2c2c2c;
}
body {
  margin: 0;
  background-color: var(--body-background);
  color: var(--body-text);
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.docked {
  align-items: flex-end;
}
.container.docked .interface {
  height: auto;
  margin-bottom: 2rem;
}
.container.docked .main {
  flex: initial;
}
.container.docked textarea {
  height: 15rem;
}
.container.restricted .main {
  flex: initial;
}
.container.restricted textarea {
  height: 6rem;
}
.interface {
  height: 65%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 680px) {
  .interface {
    max-width: 612px;
  }
}
.popup {
  display: none;
  margin-bottom: 2rem;
  padding: 0.6rem;
  box-sizing: border-box;
  border: 2px solid var(--subtle-region);
  border-radius: 6px;
  background-color: var(--subtle-region);
  text-align: center;
}
.popup.display {
  display: block;
}
.popup > svg {
  margin-right: 0.6rem;
  vertical-align: text-top;
}
a.popup {
  border: 2px solid var(--highlight-dimmed);
  background-color: var(--highlight-dimmed);
  color: var(--text-on-highlight);
  text-decoration: none;
  font-weight: bold;
}
a.popup:hover {
  border: 2px solid var(--highlight);
  background-color: var(--highlight);
}
a.popup:focus-visible {
  outline: 2px solid var(--highlight-dimmed);
  outline-offset: 1px;
}
.tabs {
  display: flex;
  box-sizing: border-box;
  border: 2px solid var(--body-background);
}
.tab {
  flex: 2;
  padding: 0.6rem 0;
  min-height: 20px;
  cursor: default;
}
.tab-name {
  margin-left: 0.6rem;
  color: var(--secondary-text);
}
.tab-name.selected {
  color: var(--body-text);
  font-weight: bold;
}
:root:not([data-purpose="demo"]) .tab-name:not(.selected) {
  cursor: pointer;
}
:root:not([data-purpose="demo"]) .tab-name:hover,
:root:not([data-purpose="demo"]) .tab-name:focus {
  color: var(--body-text);
}
.tab-name.notify + .tab-icon {
  visibility: visible;
}
.tab-icon {
  vertical-align: top;
  color: var(--notification);
  font-size: 0.4rem;
  cursor: default;
  visibility: hidden;
}
.tab.info {
  flex: 3;
  text-align: right;
}
.info-message {
  margin-right: 0.6rem;
  color: var(--secondary-text);
  display: none;
}
.info-message.display {
  display: inline;
}
.info-message > svg {
  vertical-align: text-top;
}
.main {
  display: flex;
  flex: 1;
}
textarea {
  flex: 1;
  outline: none;
  resize: none;
  padding: 0.6rem;
  box-sizing: border-box;
  border: 2px solid var(--control-border);
  border-radius: 6px;
  background-color: var(--control-background);
  color: inherit;
  font-family: sans-serif;
  font-size: 1rem;
  display: none;
}
textarea::placeholder {
  color: var(--secondary-text);
}
:root:not([data-purpose="demo"]) textarea:focus {
  border-color: var(--highlight);
}
textarea.display {
  display: block;
}
.actions {
  display: flex;
  box-sizing: border-box;
  border: 2px solid var(--body-background);
  position: relative;
}
.action {
  flex: 1;
  padding: 0.6rem 0;
  min-height: 20px;
}
.action.primary {
  text-align: right;
}
.action-instruction {
  margin-left: 0.6rem;
  color: var(--secondary-text);
  text-decoration: none;
  display: none;
}
:root:not([data-purpose="demo"]) .action-instruction {
  cursor: pointer;
}
:root:not([data-purpose="demo"]) .action-instruction:hover,
:root:not([data-purpose="demo"]) .action-instruction:focus {
  color: var(--body-text);
}
.action-instruction.display {
  display: inline;
}
.action-instruction > svg {
  vertical-align: text-top;
}
.action-menu {
  position: absolute;
  top: 0.3rem;
  left: -0.9rem;
  transform: translateY(-100%);
  background-color: var(--control-background);
  border: 2px solid var(--highlight);
  border-radius: 3px;
  display: none;
}
.action-menu.display {
  display: block;
}
.action-menu-item {
  margin: 0.6rem;
  display: none;
}
.action-menu-item.display {
  display: block;
}
.action-menu-item.clickable {
  color: var(--secondary-text);
  text-decoration: none;
  cursor: pointer;
}
.action-menu-item.clickable:hover,
.action-menu-item.clickable:focus {
  color: var(--body-text);
}
.action-menu-item.spacer {
  height: 2px;
  background-color: var(--menu-spacer);
}
.circle-button {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--subtle-region);
  color: var(--secondary-text);
}
.circle-button.enabled {
  background-color: var(--highlight);
  color: var(--text-on-highlight);
  cursor: pointer;
}
.circle-button > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}
.circle-button.enabled.short-hover > svg,
.circle-button.enabled.long-hover > svg {
  transform: translate(-45%, -60%) rotate(-30deg);
  transition: transform 0.1s ease;
}
.circle-button.enabled:focus-visible {
  outline: 2px solid var(--highlight);
  outline-offset: 1px;
}