body {
  margin: 0;
  background-color: #f3f3f3;
  color: #202020;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.docked {
  align-items: flex-end;
}
.container.docked .interface {
  height: 40%;
}
.container.docked .main {
  flex: initial;
}
.container.docked textarea {
  height: 12rem;
}
.container.restricted .main {
  flex: initial;
}
.container.restricted textarea {
  height: 6rem;
}
.interface {
  height: 65%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 500px) {
  .interface {
    max-width: 40%;
    min-width: 450px;
  }
}
.popup {
  display: none;
  margin-bottom: 2rem;
  padding: 0.6rem;
  box-sizing: border-box;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  background-color: #e0e0e0;
  text-align: center;
}
.popup.display {
  display: block;
}
.popup > svg {
  margin-right: 0.6rem;
  vertical-align: text-top;
}
.tabs {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #f3f3f3;
}
.tab {
  flex: 2;
  padding: 0.6rem 0;
  min-height: 20px;
}
.tab-name {
  margin-left: 0.6rem;
  color: #606060;
  cursor: pointer;
}
.tab-name.selected {
  color: #202020;
  font-weight: bold;
  cursor: default;
}
.tab-name.notify + .tab-icon {
  visibility: visible;
}
.tab-icon {
  vertical-align: top;
  color: #ed2024;
  font-size: 0.4rem;
  cursor: default;
  visibility: hidden;
}
.tab.info {
  flex: 3;
  text-align: right;
}
.info-message {
  margin-right: 0.6rem;
  color: #808080;
  display: none;
}
.info-message.display {
  display: inline;
}
.info-message > svg {
  vertical-align: text-top;
}
.main {
  display: flex;
  flex: 1;
}
textarea {
  flex: 1;
  outline: none;
  resize: none;
  padding: 0.6rem;
  box-sizing: border-box;
  border: 2px solid #c0c0c0;
  border-radius: 6px;
  background-color: #fff;
  color: inherit;
  font-family: sans-serif;
  font-size: 1rem;
  display: none;
}
textarea::placeholder {
  color: #808080;
}
textarea:focus {
  border-color: #79c152
}
textarea.display {
  display: block;
}
.actions {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #f3f3f3;
  position: relative;
}
.action {
  flex: 1;
  padding: 0.6rem 0;
  min-height: 20px;
}
.action.primary {
  text-align: right;
}
.action-instruction {
  margin-left: 0.6rem;
  color: #808080;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
.action-instruction.display {
  display: inline;
}
.action-instruction > svg {
  vertical-align: text-top;
}
.action-menu {
  position: absolute;
  top: 0.3rem;
  left: -0.9rem;
  transform: translateY(-100%);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 6px #c0c0c0;
  display: none;
}
.action-menu.display {
  display: block;
}
.action-menu-item {
  display: block;
  margin: 0.6rem;
}
.action-menu-clickable {
  color: #606060;
  text-decoration: none;
  cursor: pointer;
}
.action-menu-toggle {
  display: flex;
  justify-content: space-between;
}
.action-menu-status {
  width: 32px;
  margin-left: 0.6rem;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #f3f3f3;
  color: #808080;
  font-variant: small-caps;
  line-height: 14px;
  text-align: center;
  cursor: default;
}
.action-menu-status.on {
  border-color: #606060;
  background-color: #e0e0e0;
  color: #202020;
}
.circle-button {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #808080;
}
.circle-button.enabled {
  background-color: #79c152;
  color: #fff;
  cursor: pointer;
}
.circle-button > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}
.circle-button.fake-hover > svg {
  transform: translate(-45%, -60%) rotate(-30deg);
  transition: transform 0.1s ease;
}
@media (hover: hover) {
  .tab-name:hover {
    color: #202020;
  }
  .action-menu-clickable:hover {
    color: #202020;
  }
  .action-instruction:hover {
    color: #202020;
  }
  .circle-button.enabled:hover > svg {
    transform: translate(-45%, -60%) rotate(-30deg);
    transition: transform 0.1s ease;
  }
}
