Header set Cache-Control "public, max-age=7776000"
<FilesMatch "\.html$">
  Header set Cache-Control "public, max-age=86400"
</FilesMatch>
<FilesMatch "\.php$">
  Header set Cache-Control "public, max-age=86400"
</FilesMatch>
<FilesMatch "^post-.+\.php$">
  Header set Cache-Control "no-cache"
</FilesMatch>
ErrorDocument 403 "Error"
ErrorDocument 404 "Error"
